@font-face {
  font-family: 'Rajdhani';
  src: url("../fonts/Rajdhani-Regular.ttf");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'Rajdhani';
  src: url("../fonts/Rajdhani-Bold.ttf");
  font-style: normal;
  font-weight: 900; }

body {
  font-family: 'Rajdhani'; }
  body:after {
    content: url("../img/slide-2.png") url("../img/slide-3.png");
    display: none; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }

.slider {
  -ms-flex-preferred-size: 600px;
  flex-basis: 600px;
  -webkit-animation: reveal 1.5s ease-out 1;
  animation: reveal 1.5s ease-out 1; }

.slider__logo {
  position: fixed;
  z-index: 2;
  left: 52px;
  top: 32px;
  width: 65px;
  height: 36px; }

.slider__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 600px; }

.slider__slide {
  display: none;
  height: 100vh;
  width: 600px;
  background-size: contain;
  background-repeat: no-repeat; }

.slider__slide__img {
  height: 768px;
  background-size: contain; }
  .slider__slide__img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 768px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(53, 41, 37, 0.5)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(53, 41, 37, 0.5) 100%);
    z-index: 0; }
  .slider__slide__img img {
    position: relative;
    width: 100%;
    height: 100%; }

.slider__slide--current {
  display: block; }

.slider__slide__text {
  position: absolute;
  left: 52px;
  top: calc(45% + 159px);
  z-index: 1; }
  .slider__slide__text h3 {
    font-size: 72px;
    line-height: 72px;
    font-weight: 500;
    color: #ffffff;
    margin: 0; }
  .slider__slide__text span {
    font-weight: 500;
    line-height: 32px;
    font-size: 28px;
    color: #ffffff; }

.slider__buttons {
  position: absolute;
  left: 52px;
  top: calc(45% + 295px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .slider__buttons svg {
    width: 10px;
    height: 16px;
    width: 10px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    .slider__buttons svg path {
      fill: #ffffff; }
  .slider__buttons button {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: 0px;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50%;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    position: relative; }
    .slider__buttons button:hover {
      border-color: #ffffff;
      -webkit-transition: all ease .3s;
      transition: all ease .3s; }
    .slider__buttons button:active {
      background-color: #ffffff; }
    .slider__buttons button:active svg path {
      -webkit-transition: all ease .3s;
      transition: all ease .3s;
      fill: #8A94A6; }

.slider__buttons__next {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin-left: 16px; }

.slider__buttons__page {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 80px; }
  .slider__buttons__page .slider__buttons__page__all {
    opacity: 0.5; }

.content {
  -ms-flex-preferred-size: calc(100% - 600px);
  flex-basis: calc(100% - 600px); }

.content__container {
  padding-left: 10%;
  padding-right: 51px;
  padding-top: 56px; }

.content__head {
  border-bottom: 1px solid #E1E6ED; }

.content__headerSmall {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  color: #8A94A6;
  text-transform: uppercase;
  margin: 0; }

.content__headerBig {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #192B3F;
  margin-top: 24px;
  margin-bottom: 16px; }

.content__headerDescription {
  color: #8A94A6;
  width: 383px;
  font-weight: 500;
  line-height: 32px;
  font-size: 20px; }

.content__attributes {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid #E1E6ED;
  padding-bottom: 16px; }

.content__attributes__colour {
  margin-bottom: 32px;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%; }
  .content__attributes__colour .content__headerSmall {
    margin-bottom: 12px; }

.colourSelector {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 12px; }

.colourSelector__innerColor, .colourSelector__outerColor {
  width: 26px;
  height: 26px;
  position: absolute;
  border: 0px;
  border-radius: 50%;
  z-index: 0; }

.colourSelector__innerColor {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }
  .colourSelector__innerColor:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 100%;
    height: 100%;
    border: 1px solid #8A94A6;
    border-radius: 50%;
    padding: 3px;
    opacity: 0;
    -webkit-transition: opacity ease .3s;
    transition: opacity ease .3s; }

.colourSelector__outerColor {
  border: 1px solid;
  padding: 3px;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transition: all ease .3s;
  transition: all ease .3s; }

.colourSelector input {
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
  opacity: 0; }
  .colourSelector input:hover ~ .colourSelector__innerColor:after {
    opacity: 1;
    -webkit-transition: opacity ease .3s;
    transition: opacity ease .3s; }
  .colourSelector input:active ~ .colourSelector__innerColor:after {
    display: none; }
  .colourSelector input:checked ~ .colourSelector__innerColor:after {
    display: none; }
  .colourSelector input:active ~ .colourSelector__outerColor {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: all ease .3s;
    transition: all ease .3s; }
  .colourSelector input:checked ~ .colourSelector__outerColor {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: all ease .3s;
    transition: all ease .3s; }

.content__attributes__size {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%; }
  .content__attributes__size .content__headerSmall {
    margin-bottom: 8px; }

.sizeSelector {
  width: 32px;
  height: 32px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  margin-right: 5px;
  vertical-align: middle; }
  .sizeSelector span {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 16px;
    line-height: 24px;
    width: 32px;
    height: 20px;
    z-index: -1;
    color: #8A94A6;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    -webkit-transition: font-size 0s;
    transition: font-size 0s; }
    .sizeSelector span:after {
      position: absolute;
      content: '';
      left: -1px;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 32px;
      height: 32px;
      border: 1px solid transparent;
      border-radius: 50%;
      -webkit-transition: all ease .3s;
      transition: all ease .3s;
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .sizeSelector input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    opacity: 0; }
    .sizeSelector input:hover ~ span:after {
      border-color: #8A94A6;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all ease .3s;
      transition: all ease .3s; }
    .sizeSelector input:active ~ span {
      color: #192B3F;
      -webkit-transition: all ease .3s;
      transition: all ease .3s;
      font-size: 20px; }
      .sizeSelector input:active ~ span:after {
        border-color: #192B3F;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: all ease .1s;
        transition: all ease .1s; }
    .sizeSelector input:checked ~ span {
      color: #192B3F;
      -webkit-transition: font-size 0s;
      transition: font-size 0s;
      font-size: 20px;
      height: 20px; }
      .sizeSelector input:checked ~ span:after {
        border-color: #192B3F;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all ease .3s;
        transition: all ease .3s; }
    .sizeSelector input:disabled ~ span {
      color: #E1E6ED; }
      .sizeSelector input:disabled ~ span:after {
        border-color: transparent; }

.content__attributes__size__link {
  text-decoration: none;
  color: #C9B8A8;
  border: 1px solid #C9B8A8;
  border-radius: 24px;
  padding: 2px 12px;
  margin-left: 14px; }

.content__attributes__quantity {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%; }

.content__attributes__quantity__control {
  margin-top: 12px;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 28px; }
  .content__attributes__quantity__control button {
    width: 28px;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .content__attributes__quantity__control button:hover {
      -webkit-transition: all ease .3s;
      transition: all ease .3s;
      border-color: #E1E6ED; }
  .content__attributes__quantity__control span {
    color: #8A94A6;
    font-size: 24px;
    line-height: 24px;
    margin: 0px 13px; }

.content__attributes__cost {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%; }

.content__attributes__cost__dollar {
  color: #C9B8A8;
  font-size: 40px;
  line-height: 40px;
  margin: 0; }

.content__attributes__cost__cent {
  color: #8A94A6;
  font-size: 25px; }

.content__productDetails {
  padding-top: 24px;
  margin-bottom: 72px; }

.content__productDetails__text {
  line-height: 24px;
  font-size: 16px;
  color: #192B3F;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 8px; }

.content__productDetails__composition {
  color: #8A94A6;
  font-size: 16px; }

.largeButton {
  display: block;
  background-color: #192B3F;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  padding: 12px 0px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  margin-bottom: 32px; }
  .largeButton:hover {
    background-color: #2E4055; }
  .largeButton:active {
    background-color: #3B536D; }

.content__spoiler {
  border-bottom: 1px solid #E1E6ED;
  margin-bottom: 16px; }

.content__spoiler__header {
  margin-bottom: 8px;
  margin-top: 0px; }

.content__spoiler__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .content__spoiler__controls img {
    vertical-align: middle;
    z-index: 0; }
  .content__spoiler__controls .plus {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
    -webkit-transition: all ease .3s;
    transition: all ease .3s; }
  .content__spoiler__controls .minus {
    position: absolute;
    right: 0;
    opacity: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all ease .3s;
    transition: all ease .3s; }
  .content__spoiler__controls input {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 1; }
    .content__spoiler__controls input:checked ~ .plus {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      opacity: 0;
      -webkit-transition: all ease .3s;
      transition: all ease .3s; }
    .content__spoiler__controls input:checked ~ .minus {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition: all ease .3s;
      transition: all ease .3s;
      opacity: 1; }

.content__spoiler__header {
  color: #192B3F;
  line-height: 32px;
  font-size: 24px;
  font-weight: 500; }

.content__spoiler__text {
  display: none; }

.content__similar {
  margin-top: 40px;
  margin-bottom: 64px; }

.content__similar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 8px; }

.content__similar__items__item {
  overflow: hidden;
  border: 0px;
  border-radius: 5px;
  position: relative;
  margin-right: 5px; }
  .content__similar__items__item:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.22)), to(rgba(53, 41, 37, 0.22)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 0%, rgba(53, 41, 37, 0.22) 100%); }
  .content__similar__items__item img {
    width: 100%;
    height: 100%;
    -webkit-transition: all ease .7s;
    transition: all ease .7s; }
  .content__similar__items__item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all ease .7s;
    transition: all ease .7s; }
  .content__similar__items__item h3 {
    position: absolute;
    left: 16px;
    bottom: 28px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
    z-index: 1; }
  .content__similar__items__item span {
    position: absolute;
    left: 16px;
    bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    z-index: 1; }

.content__subscribe__header {
  font-weight: 500;
  line-height: 40px;
  font-size: 32px;
  color: #192B3F;
  margin: 0; }

.content__subscribe__desc, .content__subscribe__gender span {
  font-weight: 500;
  line-height: 32px;
  font-size: 20px;
  color: #8A94A6;
  display: inline-block;
  margin-bottom: 24px; }

.content__subscribe__input {
  width: 424px;
  padding: 0px 16px;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #8A94A6;
  line-height: 40px;
  font-size: 16px;
  border: 0px;
  display: block;
  outline: none;
  margin-bottom: 16px; }
  .content__subscribe__input::-webkit-input-placeholder {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }
  .content__subscribe__input:-ms-input-placeholder {
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }
  .content__subscribe__input::-ms-input-placeholder {
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }
  .content__subscribe__input::placeholder {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }
  .content__subscribe__input:focus::-webkit-input-placeholder {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }
  .content__subscribe__input:focus:-ms-input-placeholder {
    transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }
  .content__subscribe__input:focus::-ms-input-placeholder {
    transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }
  .content__subscribe__input:focus::placeholder {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }

.content__subscribe__gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px; }
  .content__subscribe__gender span {
    margin-right: 24px;
    margin-bottom: 0; }

.content___subscribe__gender__checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .content___subscribe__gender__checkbox label {
    margin-right: 24px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 8px;
    font-size: 16px; }
  .content___subscribe__gender__checkbox span {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #E1E6ED;
    border-radius: 50%;
    z-index: 0; }
    .content___subscribe__gender__checkbox span:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-color: #192B3F;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      -webkit-transition: all ease .5s;
      transition: all ease .5s;
      opacity: 0;
      -webkit-transform: scale(0.5);
      transform: scale(0.5); }
  .content___subscribe__gender__checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    position: relative;
    opacity: 0;
    cursor: pointer;
    z-index: 1; }
    .content___subscribe__gender__checkbox input:checked ~ span:after {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      -webkit-transition: all ease .5s;
      transition: all ease .5s; }

.content__subscribe__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px; }
  .content__subscribe__agreement span {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #192B3F;
    position: absolute;
    left: 0;
    top: 2px;
    opacity: .2;
    -webkit-transition: all ease .3s;
    transition: all ease .3s; }
    .content__subscribe__agreement span:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 10px;
      -webkit-transform: rotate(45deg) scale(1);
      transform: rotate(45deg) scale(1);
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 5px;
      margin: auto;
      border-bottom: 2px solid #192B3F;
      border-right: 2px solid #192B3F;
      opacity: 0;
      -webkit-transition: all ease .3s;
      transition: all ease .3s; }
  .content__subscribe__agreement input {
    width: 20px;
    height: 20px;
    z-index: 1;
    opacity: 0;
    cursor: pointer; }
    .content__subscribe__agreement input:hover ~ span {
      opacity: 1;
      -webkit-transition: all ease .3s;
      transition: all ease .3s; }
    .content__subscribe__agreement input:hover ~ span:after {
      opacity: .2;
      -webkit-transition: all ease .3s;
      transition: all ease .3s; }
    .content__subscribe__agreement input:checked ~ span {
      opacity: 1;
      background-color: #192B3F;
      -webkit-transition: all ease .3s;
      transition: all ease .3s; }
    .content__subscribe__agreement input:checked ~ span:after {
      opacity: 1;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transition: all ease .3s;
      transition: all ease .3s;
      -webkit-animation: checkbox-anim .5s ease 1;
      animation: checkbox-anim .5s ease 1; }
  .content__subscribe__agreement label {
    margin-left: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #192B3F;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

@-webkit-keyframes checkbox-anim {
  0% {
    -webkit-transform: rotate(40deg) scale(0.5);
    transform: rotate(40deg) scale(0.5); }
  25% {
    -webkit-transform: rotate(30deg) scale(0.5);
    transform: rotate(30deg) scale(0.5); }
  50% {
    -webkit-transform: rotate(20deg) scale(0.5);
    transform: rotate(20deg) scale(0.5); }
  75% {
    -webkit-transform: rotate(30deg) scale(0.5);
    transform: rotate(30deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); } }

@keyframes checkbox-anim {
  0% {
    -webkit-transform: rotate(40deg) scale(0.5);
    transform: rotate(40deg) scale(0.5); }
  25% {
    -webkit-transform: rotate(30deg) scale(0.5);
    transform: rotate(30deg) scale(0.5); }
  50% {
    -webkit-transform: rotate(20deg) scale(0.5);
    transform: rotate(20deg) scale(0.5); }
  75% {
    -webkit-transform: rotate(30deg) scale(0.5);
    transform: rotate(30deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); } }

@-webkit-keyframes reveal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes reveal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .slider {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%; }
  .slider__container {
    width: 45%; }
  .slider__slide {
    width: 100%;
    height: 100%; }
  .slider__slide__img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat; }
    .slider__slide__img:after {
      height: 100vh;
      width: 100%; }
  .content {
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%; }
  .content__container {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 56px; } }

@media (min-width: 576px) and (max-width: 991px) {
  .slider {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .slider__logo {
    position: absolute;
    z-index: 2;
    left: 16px;
    top: 24px; }
  .slider__slide {
    height: 100%;
    width: 100%; }
  .slider__container {
    width: 100%; }
  .slider__container {
    position: relative; }
  .slider__slide__img {
    height: 668px;
    background-size: cover;
    background-repeat: no-repeat; }
    .slider__slide__img:after {
      height: 334px;
      top: 50%; }
  .slider__slide__text {
    left: 16px;
    top: calc(55% + 59px); }
    .slider__slide__text h3 {
      font-size: 64px; }
    .slider__slide__text span {
      font-size: 24px; }
  .slider__buttons {
    position: absolute;
    left: 16px;
    top: calc(55% + 195px); }
  .content {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .content__container {
    padding: 6px 16px;
    padding-top: 10px; }
  .content__similar {
    margin-bottom: 48px; }
  .content__similar__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .content__similar__items__item {
    width: 100%;
    margin-right: 0; }
    .content__similar__items__item:first-child {
      margin-bottom: 28px; }
    .content__similar__items__item h3 {
      line-height: 40px;
      font-size: 40px; }
    .content__similar__items__item span {
      line-height: 18px;
      font-size: 18px; } }

@media (max-width: 576px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .content__headerDescription {
    width: 100%; }
  .content__headerBig {
    font-size: 32px;
    line-height: 32px;
    margin-top: 16px; }
  .content__headerDescription {
    line-height: 28px;
    font-size: 18px; }
  .content__subscribe__input {
    width: calc(100% - 32px);
    padding: 0px 16px; }
  .content__similar__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .content__similar__items__item {
    width: 100%;
    margin-right: 0; }
    .content__similar__items__item:first-child {
      margin-bottom: 16px; }
  .content__attributes__colour, .content__attributes__size {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .content__attributes__size {
    margin-bottom: 32px; }
  .content__attributes__quantity, .content__attributes__cost {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .sizeSelector {
    width: 48px;
    height: 48px; }
  .sizeSelector span {
    font-size: 20px; }
    .sizeSelector span:after {
      width: 48px;
      height: 48px;
      left: -25%;
      right: 0;
      margin: auto; }
  .sizeSelector input:checked ~ span {
    font-size: 28px; }
  .content__attributes__size__link {
    display: inline-block;
    margin-left: 0px;
    margin-top: 24px;
    padding: 2px 15px; }
  .content__productDetails {
    margin-bottom: 40px; }
  .content__subscribe__header {
    font-size: 24px; }
  .content__subscribe__desc {
    font-size: 18px; }
  .content__subscribe__gender {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .content__subscribe__gender span {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      margin-bottom: 6px; }
  .content {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .content__container {
    padding: 6px 16px;
    padding-top: 10px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .slider {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 768px; }
  .slider__container {
    position: relative;
    width: 100%; }
  .slider__slide {
    width: 100%;
    height: 80vh; }
  .slider__slide__img {
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 53%; }
  .slider__slide__text {
    left: 16px;
    top: calc(85% + 59px); }
    .slider__slide__text h3 {
      font-size: 48px; }
    .slider__slide__text span {
      font-size: 16px; }
  .slider__buttons {
    position: absolute;
    left: 16px;
    top: calc(85% + 195px); }
  .slider__logo {
    position: absolute;
    z-index: 2;
    left: 16px;
    top: 24px; } }

/*# sourceMappingURL=style.css.map */
